*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: radial-gradient(ellipse, rgb(94, 162, 201), rgb(190, 141, 255));

    color: #fff;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#textInput{
    width: 20vw;
    height: 25vh;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    text-align: center;
}

#textInput:focus{
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
#textInput::placeholder{
    color: #999;
    font-style: italic;
    text-align: center;
}

.btns{
    display: flex;
    justify-content: space-between;
}
button{
    margin: 10px;
    padding: 10px 35px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}